# Data Validation and Cleaning

This notebook validates the generated hotel operational dataset and applies
necessary corrections to ensure realistic and consistent values prior to analysis.

In [9]:
# Loading the main export to see what we're working with
import pandas as pd
df = pd.read_csv("model_ready_dataset.csv")

# Quick check on volume and date ranges
print("Rows:", df.shape[0])
print("Columns:", df.shape[1])
print("Unique Hotels:", df['HotelID'].nunique())
print("Date Range:", df['Month'].min(), "→", df['Month'].max())

# Check for nulls in key performance indicators
print("\nMissing Values:")
print(df[['OccupancyRate','ADR','CancellationRate','MeanSentiment','ReviewCount']].isna().sum())

# Handle missing values for sentiment metrics to prevent calculation errors
df['MeanSentiment'] = df['MeanSentiment'].fillna(0)
df['ReviewCount'] = df['ReviewCount'].fillna(0)

# Validate value ranges against expected business logic
print("\nValue Ranges:")
print("Occupancy Min/Max:", df['OccupancyRate'].min(), df['OccupancyRate'].max())
print("ADR Min/Max:", df['ADR'].min(), df['ADR'].max())
print("CancellationRate Min/Max:", df['CancellationRate'].min(), df['CancellationRate'].max())
print("Sentiment Min/Max:", df['MeanSentiment'].min(), df['MeanSentiment'].max())
print("ReviewCount Min/Max:", df['ReviewCount'].min(), df['ReviewCount'].max())

#Identify records with logical inconsistencies
bad_rows = df[
    (df['OccupancyRate']<0) | (df['OccupancyRate']>1) |
    (df['CancellationRate']<0) | (df['CancellationRate']>1) |
    (df['ADR']<=0)
]

print("\nPotential Problem Rows:", len(bad_rows))

Rows: 962
Columns: 11
Unique Hotels: 40
Date Range: 2022-01 → 2024-01

Missing Values:
OccupancyRate        0
ADR                 10
CancellationRate    10
MeanSentiment        0
ReviewCount          0
dtype: int64

Value Ranges:
Occupancy Min/Max: 0.000138447 0.0220174091141833
ADR Min/Max: 120.57 297.69
CancellationRate Min/Max: 0.0 1.0
Sentiment Min/Max: -1.0 1.0
ReviewCount Min/Max: 0 9

Potential Problem Rows: 0

In [10]:
import pandas as pd
# Load operational dataset generated during synthetic data construction
df = pd.read_csv("model_ready_dataset.csv")
# Remove sentiment features to ensure they are engineered separately
df = df.drop(columns=["MeanSentiment", "ReviewCount"], errors="ignore")

df.columns

Index(['HotelID', 'Month', 'OccupiedRoomNights', 'MonthStart', 'DaysInMonth',
       'TotalRooms', 'OccupancyRate', 'ADR', 'CancellationRate'],
      dtype='object')

In [11]:
# Rescale occupancy to realistic range
df["OccupancyRate"] = df["OccupancyRate"] * 40

In [12]:

df["OccupancyRate"].min(), df["OccupancyRate"].max()

(0.00553788, 0.880696364567332)

In [13]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("model_ready_dataset.csv")

# Replace missing sentiment values with 0
df["MeanSentiment"] = df["MeanSentiment"].fillna(0)
df["ReviewCount"] = df["ReviewCount"].fillna(0)

In [14]:
# FINAL CLEAN DATASET EXPORT

import pandas as pd

df = pd.read_csv("model_ready_dataset.csv")

# Remove sentiment-related columns if present
df = df.drop(columns=["MeanSentiment", "ReviewCount"], errors="ignore")

# Fix occupancy realism
df["OccupancyRate"] = df["OccupancyRate"] * 40

# Save clean dataset
df.to_csv("hotel_data_clean.csv", index=False)

print("Saved: hotel_data_clean.csv")
df.head()

Saved: hotel_data_clean.csv

,HotelID,Month,OccupiedRoomNights,MonthStart,DaysInMonth,TotalRooms,OccupancyRate,ADR,CancellationRate
0,1,2022-01,21,01/01/2022,31,122,0.222105,243.704286,0.000000
1,1,2022-02,18,01/02/2022,28,122,0.210773,215.478333,0.333333
2,1,2022-03,3,01/03/2022,31,122,0.031729,219.232500,0.500000
3,1,2022-04,19,01/04/2022,30,122,0.207650,213.618571,0.428571
4,1,2022-05,9,01/05/2022,31,122,0.095188,213.473333,0.333333

In [15]:
# Convert occupancy into percentage
df["OccupancyPercent"] = df["OccupancyRate"] * 100

In [16]:
# Validate corrected distribution
df["OccupancyRate"].describe()

count    962.000000
mean       0.191160
std        0.124924
min        0.005538
25%        0.103295
50%        0.165937
75%        0.249099
max        0.880696
Name: OccupancyRate, dtype: float64

In [17]:
df.to_csv("eda_overview_readynew.csv", index=False)